<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cargospring_navbar" aria-expanded="false">
                    <span ng-repeat="page in appPages" class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">CargoSpring</a>
            </div>
            <div class="collapse navbar-collapse" id="cargospring_navbar">
                <ul class="nav navbar-nav">
                    <li data-ng-repeat="page in appPages" class="{{(page.path) == getCurrentPage().path? 'active' : ''}}">
                        <a href="{{'#/'+page.path}}">{{page.name}}</a>
                    </li>
                </ul>
                <h4 class="navbar-text">{{getCurrentPage().name}}</h4>
            </div>
        </div>
    </nav>
</header>
